project/LetsGoBiking/HeavyClient/Connected Services/RoutingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Routing" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRouting_GetDirectionSOAP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectionSOAP" />
  </wsdl:message>
  <wsdl:message name="IRouting_GetDirectionSOAP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectionSOAPResponse" />
  </wsdl:message>
  <wsdl:message name="IRouting_GetPositionCitySOAP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionCitySOAP" />
  </wsdl:message>
  <wsdl:message name="IRouting_GetPositionCitySOAP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionCitySOAPResponse" />
  </wsdl:message>
  <wsdl:message name="IRouting_GetHistoriqueStationsSOAP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoriqueStationsSOAP" />
  </wsdl:message>
  <wsdl:message name="IRouting_GetHistoriqueStationsSOAP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoriqueStationsSOAPResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingREST_GetDirectionREST_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectionREST" />
  </wsdl:message>
  <wsdl:message name="IRoutingREST_GetDirectionREST_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectionRESTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingREST_GetPositionCityREST_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionCityREST" />
  </wsdl:message>
  <wsdl:message name="IRoutingREST_GetPositionCityREST_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionCityRESTResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingREST_GetHistoriqueStationsREST_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoriqueStationsREST" />
  </wsdl:message>
  <wsdl:message name="IRoutingREST_GetHistoriqueStationsREST_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoriqueStationsRESTResponse" />
  </wsdl:message>
  <wsdl:portType name="IRouting">
    <wsdl:operation name="GetDirectionSOAP">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouting/GetDirectionSOAP" message="tns:IRouting_GetDirectionSOAP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouting/GetDirectionSOAPResponse" message="tns:IRouting_GetDirectionSOAP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionCitySOAP">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouting/GetPositionCitySOAP" message="tns:IRouting_GetPositionCitySOAP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouting/GetPositionCitySOAPResponse" message="tns:IRouting_GetPositionCitySOAP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoriqueStationsSOAP">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouting/GetHistoriqueStationsSOAP" message="tns:IRouting_GetHistoriqueStationsSOAP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouting/GetHistoriqueStationsSOAPResponse" message="tns:IRouting_GetHistoriqueStationsSOAP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRoutingREST">
    <wsdl:operation name="GetDirectionREST">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingREST/GetDirectionREST" message="tns:IRoutingREST_GetDirectionREST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingREST/GetDirectionRESTResponse" message="tns:IRoutingREST_GetDirectionREST_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionCityREST">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingREST/GetPositionCityREST" message="tns:IRoutingREST_GetPositionCityREST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingREST/GetPositionCityRESTResponse" message="tns:IRoutingREST_GetPositionCityREST_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoriqueStationsREST">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingREST/GetHistoriqueStationsREST" message="tns:IRoutingREST_GetHistoriqueStationsREST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingREST/GetHistoriqueStationsRESTResponse" message="tns:IRoutingREST_GetHistoriqueStationsREST_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPEndPoint" type="tns:IRouting">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDirectionSOAP">
      <soap:operation soapAction="http://tempuri.org/IRouting/GetDirectionSOAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionCitySOAP">
      <soap:operation soapAction="http://tempuri.org/IRouting/GetPositionCitySOAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoriqueStationsSOAP">
      <soap:operation soapAction="http://tempuri.org/IRouting/GetHistoriqueStationsSOAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingImpl">
    <wsdl:port name="SOAPEndPoint" binding="tns:SOAPEndPoint">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Routing/Service/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>